{% extends "base.html" %}
{% load  static %}
{% load bootstrap %}
{% block content %}
<form method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    {{add_book_form.as_p}}
    {{add_book_form.errors}}
    <button type="submit" name="add_book_form">Submit</button>
</form>

<div class="jumbotron">
    <div class="row">

        <div class="col-md-10 offset-md-1">
            <h1 class="text-center">All Files</h1>
            <div class="card py-2 px-2">
                <a class="btn btn-success btn-sm ml-auto mb-2" href="/products/postFile">Add New File</a>
                <table class="table-striped">
                    <tr>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Description</th>
                    </tr>
                    {% for book in books %}
                    {{book.image.url}}
                    <tr>
                        <td> {{ book.title }}</td>
                        <td> <img src="{{book.image.url}}" alt="file_image" width="100"></td>
                        <td> {{ book.author }}</td>
                        <!-- <td><a href="/products/updateFile/{{file.id}}" class="btn btn-primary btn-sm">Edit</a> &nbsp;
                            <a href="/products/deleteFile/{{file.id}}" class="btn btn-danger btn-sm"
                               onclick="return confirm('Are you sure want to delete this file?')">Delete</a></td> -->

                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>
  
{% endblock content %}
   
