{% extends "base.html" %}
{% load static %}
{% load bootstrap %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{add_book_form.as_p}}
    {{add_book_form.errors}}
    <button type="submit" name="add_book_form">Submit</button>
</form>


<div class="jumbotron">
    <div class="row">

        <div class="col-md-10 offset-md-1">
            <h1 class="text-center">All Files</h1>
            <div class="card py-2 px-2">

                <table class="table-striped">
                    <tr>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Description</th>

                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                    {% for book in books %}

                    <tr>
                        <td> {{ book.title }}</td>
                        <td> <a href="{% url 'users:bookdetail' slug=user.username pk=book.pk %}"><img src="{{book.image.url}}" alt="file_image" width="100"></a></td>
                        <td> {{ book.author }}</td>
                        {% if user == book.author %}
                        <td>
                          
                        </td>
                        <td>
                            <a href="{% url 'users:deletebook' slug=user.username pk=book.pk %}"
                                class="btn btn-danger">Delete</a>
                        </td>
                        {% endif %}</td>


                    </tr>



                    {% endfor %}




                </table>
            </div>
            <!-- Button trigger modal -->


        </div>
    </div>
</div>


{% endblock content %}